In [22]:
import pandas as pd
import matplotlib.pyplot as plt

Sentiments

In [55]:
sentiment_data = pd.read_csv('../Datasets/sentimentNewsTechCompanies.csv')

In [ ]:
#Take a look at the data
sentiment_data.sample(10)

In [57]:
# Drop all columns except 'overall_sentiment_label' and 'companyName'
sentimentdata_subset = sentiment_data[['overall_sentiment_score', 'companyName','time_published']]
# Take a look at the new dataset
sentimentdata_subset.sample(10)

       overall_sentiment_score companyName   time_published
1004                  0.012884        KORE  20220607T090058
1616                 -0.005302        KSCP  20220418T102251
10449                 0.143705        GLYC  20221114T073517
12799                -0.033363         JPM  20221222T111731
12180                 0.135845         TUP  20230801T121734
3734                  0.106029        OTMO  20231020T114219
8662                 -0.103804        AFRM  20220829T065511
6943                  0.095750        CURV  20220912T072340
9115                 -0.103804        ELOX  20220829T065511
5904                  0.377367        PLAB  20230524T144155

In [58]:
# Alter column names
sentimentdata_subset.set_axis(['sentiment_score', 'Ticker', 'date'], axis='columns', inplace=True)
sentimentdata_subset.sample(10)

       sentiment_score Ticker             date
7257          0.095750   BPTS  20220912T072340
3228         -0.017123    RIO  20220315T085138
9122         -0.103804    REE  20220829T065511
2444         -0.018548   FFIE  20220315T085138
11493         0.184801    SFM  20230802T121355
4266          0.094633    TSP  20230518T122909
7558         -0.029117   CRTD  20220906T065525
12820        -0.033363   AWON  20221222T111731
2839         -0.017123   KAVL  20220315T085138
915           0.012884   LFLY  20220607T090058

In [104]:
# Convert 'date' column to datetime format using '%Y-%m-%d'
sentimentdata_subset['date'] = pd.to_datetime(sentimentdata_subset['date'], format='%Y-%m-%d').dt.date
sentimentdata_subset['date'] = pd.to_datetime(sentimentdata_subset['date'])

sentimentdata_subset = sentimentdata_subset.sort_values(by=['date','Ticker'],ascending= [True, True])
sentimentdata_subset

      sentiment_score Ticker       date
3301         0.000717   KSCP 2022-03-14
3302         0.000717   KSCP 2022-03-14
3303         0.000717   KSCP 2022-03-14
3304         0.000717   KSCP 2022-03-14
3305         0.000717   KSCP 2022-03-14
...               ...    ...        ...
4690         0.026615    GCT 2023-10-21
4691         0.026615    GCT 2023-10-21
4692         0.026615    GCT 2023-10-21
4693         0.026615    GCT 2023-10-21
4694         0.026615    GCT 2023-10-21

[695 rows x 3 columns]

In [92]:
# Confirm data type
print(sentimentdata_subset['date'].dtype)

datetime64[ns]

In [59]:
#filter the data based on companies
interested_companies = ['KSCP', 'ASST', 'GCT', 'SNAL', 'MGAM']
sentimentdata_subset = sentimentdata_subset.loc[sentimentdata_subset['Ticker'].isin(interested_companies)]
sentimentdata_subset.sample(10)

       sentiment_score Ticker             date
9376          0.255788    GCT  20220824T145253
4748          0.279545    GCT  20231009T113000
5150          0.260639    GCT  20230712T125605
8193          0.181799    GCT  20220901T151402
9382          0.255788    GCT  20220824T145253
8230          0.168763    GCT  20220901T090500
8228          0.168763    GCT  20220901T090500
4258          0.094633   ASST  20230518T122909
10059        -0.016836    GCT  20220822T111300
12698        -0.024085   MGAM  20230106T130036

In [106]:
#Group by date and ticker, then get an average aggrigate of sentiment score for each day and ticker(company)
grouped_data = sentimentdata_subset.groupby(['Ticker', 'date'])['sentiment_score'].mean()

# Reset the index to convert the grouped data to a DataFrame
sentimentfinal = grouped_data.reset_index()

# Sort the DataFrame first by 'date' column in ascending order,
# and then by 'Ticker' column in ascending order as a secondary sort
sentimentfinal = sentimentfinal.sort_values(by='date')

sentimentfinal

   Ticker       date  sentiment_score
65   KSCP 2022-03-14        -0.010956
66   KSCP 2022-03-15        -0.017835
67   KSCP 2022-04-07         0.049978
68   KSCP 2022-04-18        -0.005302
69   KSCP 2022-06-07         0.012884
..    ...        ...              ...
61    GCT 2023-10-11         0.026615
62    GCT 2023-10-12         0.362306
63    GCT 2023-10-16         0.026615
14   ASST 2023-10-20         0.106029
64    GCT 2023-10-21         0.026615

[94 rows x 3 columns]